@import "tailwindcss";

@theme inline {
  --color-primary: #06E1E7;
  --color-primary-dark: #05b8bd;
  --color-secondary: #032832;
  --color-accent: #61CE70;
  --color-light: #E7F7FE;
  --color-warm: #FFBC7D;
  --color-background: #ffffff;
  --color-foreground: #032832;
  --font-sans: var(--font-sora);
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
}
